## Spam recognition machine learning models

First it is important to understand the data, the documentation is in spambase.DOCUMENTATION in this repository or in the original webpage where the dataset was taking from. (https://archive.ics.uci.edu/ml/datasets/Spambase)

In [1]:
import pandas as pd

In [80]:
spam = pd.read_csv("spambase.csv",header=None)
spam.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [82]:
spam.rename(columns={57:"Spam"},inplace=True)
spam.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,Spam
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [84]:
spam.shape
#spam.isnull().values.any()

(4601, 58)

Because we have word count, a better way to train a model would be with the transformation TFIDF.

Scikit learn library has many useful tools to train the model but first it is needed to fix the dataset

In [24]:
spam[range(0,48)].head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.06,0.0,0.0,0.12,0.0,0.06,0.06,0.0,0.0
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0

In [83]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
spam_fixed=tfidf_transformer.fit_transform(spam[range(0,48)])
spam_fixed.shape

(4601, 48)

In [85]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(spam.drop('Spam', axis=1), spam['Spam'], test_size=0.2, random_state=42)

In [87]:
tfidf_transformer = TfidfTransformer()
train_fixed=tfidf_transformer.fit_transform(train_x[range(0,48)])
train_fixed.shape

(3680, 48)

In [88]:
from scipy.sparse import hstack
train_fixed = hstack((train_fixed,train_x[range(49,57)]))

In [89]:
test_fixed = tfidf_transformer.transform(test_x[range(0,48)])
test_fixed = hstack((test_fixed,test_x[range(49,57)]))

Now with Train and Test dataset fixed with TFIDF transformation for the word count let's train a machine learning model

In [90]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [91]:
clf.fit(train_fixed,train_y)

RandomForestClassifier(max_depth=2, random_state=0)

In [92]:
clf.score(test_fixed,test_y)

0.8718783930510315

With a random forest model, with 100 trees and 2 as max depth of each trees. The model could do better

In [100]:
clf_2 = RandomForestClassifier(max_depth=20, random_state=0)

In [101]:
clf_2.fit(train_fixed,train_y)

RandomForestClassifier(max_depth=20, random_state=0)

In [102]:
clf_2.score(test_fixed,test_y)

0.9533116178067318

Increasing the max_depth to 20 the score goes up to 95,33%. Now let's train new models and compare results

In [105]:
from sklearn.naive_bayes import MultinomialNB
clf_3 = MultinomialNB()
clf_3.fit(train_fixed,train_y)

MultinomialNB()

In [108]:
clf_3.score(test_fixed,test_y)

0.739413680781759

In [126]:
from sklearn.tree import DecisionTreeClassifier
clf_4 = DecisionTreeClassifier(max_depth=20)
clf_4.fit(train_fixed,train_y)

DecisionTreeClassifier(max_depth=20)

In [127]:
clf_4.score(test_fixed,test_y)

0.9109663409337676

In [128]:
clf_5 = DecisionTreeClassifier(max_depth=50)
clf_5.fit(train_fixed,train_y)

DecisionTreeClassifier(max_depth=50)

In [129]:
clf_5.score(test_fixed,test_y)

0.9066232356134636

With this 3 new models is easy to tell how every model gives us different scores, the multinomial Naive Bayes model is the one with the worst result (73%). With the decision tree model we can see that having a deeper tree does not mean having better results. This could be due to the over fitting with the train data, problem that is avoided with random forest model.